<div *ngIf="showAppComponent" class="overlay bg-[url('assets/images/home2-bg.jpg')] bg-no-repeat bg-scroll bg-cover bg-center  h-screen  " >
  <div class="text-center gap-4 flex justify-center items-center flex-col pt-40 pb-16 ">
      <p class="font-extrabold text-3xl block text-white animate-bounce px-1">Welcome to Event Management</p>
      <p class="text-white px-4">Simplify your event planning and management like never before!</p>
  </div>
  <div class="flex justify-center items-center flex-col grow-1">
    <div class="text-white font-bold text-center pb-4 text-3xl">LOGIN AS</div>
    <div class="flex gap-4">
      <button (click)="navigateToLogin('Admin')" class="py-2 px-8 text-white border-red-950 border-solid bg-red-700 outline-red-700 font-bold border-2 rounded-lg w-[120px] hover:bg-red-500 transform transition duration-1000">Admin</button>
      <button (click)="navigateToLogin('User')" class="py-2 px-8 text-white border-red-950 border-solid bg-red-700 outline-red-700 font-bold border-2 rounded-lg w-[120px] hover:bg-red-500 transform transition duration-1000">User</button>
   </div>
</div>
</div>


<router-outlet></router-outlet>